# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# STS / Eclipse
.project
.classpath
.settings/
.factorypath

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Java
*.class

# H2 local files
*.mv.db
*.trace.db

# Temporary
tmp/
temp/